.main-content {
	display: grid;
	padding: 1rem;
	grid-gap: 1rem;
	.part-1{
		span {
			font-family: 'Montserrat';
			font-size: 12px;
			font-weight: 600;
		}
	}

	.title{
		h1{
			font-size: 1.3rem;
			font-family: "Montserrat";
		}
	}
	.img_wrapper{
		height: 16rem;
		width: 100%;
		position: relative;
		img{
			width: 100%;
			height: 100%;
		}

		button {
			i {
				margin-right: .5rem;
			}
			position: absolute;
			left: .5rem;
			bottom: .5rem;
			border: none;
			cursor: pointer;
			color: black;
			font-family: Granstander Clean;
			font-size: 12px;
			padding: 1rem;
			background: #FFFFFF 0% 0% no-repeat padding-box;
			box-shadow: 1px 1px 0px #00000029;
			border-radius: 5px;
		}
	}

	.date-and-devices{
		display: grid;
		grid-template-columns: 8fr 4fr;
		.text {
			font-family: 'Gotham Book';
			font-size: .8rem;
			color: #999999;
		}
		.date{
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 1rem;
			font-family: 'Montserrat';

		}
		.devices{
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 1rem;
			.images{
				display: grid;
				justify-content: center;
				grid-template-columns: 1fr 1fr 1fr;
				align-content: center;
				span{
					font-family: 'Gotham Book';
					font-size: .8rem;
					color: #999999;			
				}
				.desktop{
					
				}
			}
		}
	}

	.slots{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		.heading{
			font-family: 'Gotham Book';
			font-size: .8rem;
			color: #999999;
		}
		.time-slots{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			.slot{
				display: grid;
				grid-template-columns: 1fr;
				grid-gap: .5rem;
				width: 7rem;
				position: relative;

				&:hover .slot-timing {
					background: #BEFFDA 0% 0% no-repeat padding-box;
					border: 0.6000000238418579px solid #02C972;
					color: #02C972;
				}
				&:hover .seats-left {
					color: #02C972;
				}

				.slot-timing{
					padding: .5rem;
					height: 20px;
					position: relative;
					background: #FFFFFF 0% 0% no-repeat padding-box;
					border: 0.6000000238418579px solid #607D8B;
					border-radius: 15px;
					text-align: center;
					font-family: 'Montserrat';
					color: #607D8B;
				}
				.seats-left{
					font-family: 'Gotham Book';
					font-size: .8rem;
					color: #999999;
					text-align: center;
					position: relative;
					top: 50%;
					left: 50%;
						transform: translate(-50%, -50%);
				}
			}
		}
	}

	.class-fees{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		.text{
			font-family: 'Gotham Book';
			font-size: .8rem;
			color: #999999;
		}
		.lower{
			display: grid;
			grid-template-columns: 7fr 5fr;
			grid-gap: 1rem;
			.amount{
				background: #FFFFFF 0% 0% no-repeat padding-box;
				box-shadow: 1px 1px 0px #0000001A;
				border-radius: 5px;
				padding: 1rem;
				.price{
					text-align: center;
					text-decoration: line-through;
					font-family: 'Montserrat';
					color: #999999;
					font-weight: 600;
				}
				.discount-price {
					font-size: 1.3rem;
					text-align: center;
					font-family: 'Montserrat';
					color: #000000;
					font-weight: 600;	
				}
			}
			.points{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				a:active, a:hover, a{
					font-family: 'Montserrat';
					font-weight: 600;
					color: #FF3A58;
					font-size: 12px;	
				}
			}
		}
	}

	.book{
		display: grid;
		grid-template-columns: 9fr 3fr;
		grid-gap: 1rem;
		.book-class, .share{
			background: #FF3A58 0% 0% no-repeat padding-box;
			box-shadow: 1px 1px 0px #0000001A;
			border: 1px solid #FF3A58;
			border-radius: 5px;
			color: white;
			padding: 1rem;
			font-family: 'Granstander Clean';
			font-size: 1rem;
		}
		.share {
			color: #FF3A58;
			background: white;
		}
	}

	.upgrade{
		text-align: center;
		font-family: 'Montserrat';
		span{
			text-decoration: underline;
			color: #FF3A58;
		}
	}
}
