header{
	display: flex;
	grid-template-columns: repeat(12, 1fr);
	padding: 1rem;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 1px 10px #0000001A;

	.img_wrapper{
		grid-column: 1/6;

		img{
			width: 100%;
			height: 100%;
		}
	}

	nav {
		display: none;
	}
	.balance{
		grid-column: 7/11;
		padding: .5rem;
		display: flex;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		flex-direction: row;
		box-shadow: 1px 1px 0px #00000029;
		border: 0.5px solid #CBD8DB;
		border-radius: 25px;
		.display_picture{
			border-radius: 50%;
			width: 30%;
			background-color: green;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.amount{
			color: #333333;
			font-family: Granstander Clean;
			font-size: 12px;
			height: 100%;
			display: flex;
			width: 70%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;

		}
	}
	.burger{
		grid-column: 11/-1;
		position: relative;
		i {
			font-size: 20px;
			position: relative;
			top: 50%;
			left: 50%;
			color: #CBD8DB;
			transform: translate(-50%, -50%);
		}
	}
}



@media (min-width: 760px) {
	header{
		padding: 1rem 3rem;
		.img_wrapper{
			grid-column: 1/2;
		}
		nav{
			grid-column: 5/8;
			display: flex;
			justify-content: center;
			ul {
				display: flex;
				flex-direction: row;
				margin: 0;
				justify-content: center;
				align-items: center;
				li {
					margin-right: 1rem;
					font-family: Granstander Clean;
				}
			}
		}
		.balance{
			grid-column: 12/13;
		}
		.burger{
			display: none;
		}
	}
}